<div class="container createCourse">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="font-55 black-color no-margin">Create a course</h1>
      <div class="col-lg-8 col-xlg-9 col-md-7 no-margin d-block">
        <div class="card mainContent">
          <p class="body font-25">
            Fill the necessary information to create a course with the rootless
            team
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div>
        <!-- Form -->
        <div class="row">
          <div class="col-12">
            <form class="form-horizontal m-t-20" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
              <div style="padding: 20px; padding-top: 0">
                <div class="form-group">
                  <label id="courseName" class="control-label col-form-label">Course Name*</label>
                  <input formControlName="title" type="text" class="form-control"
                         placeholder="E.g. Slow growth" aria-label="courseName" aria-describedby="basic-addon1"/>
                </div>
                <div class="form-group">
                  <label id="description" class="control-label col-form-label">Description*</label>
                  <input formControlName="description" type="text" class="form-control"
                         placeholder="Describe shortly what the course will be about" aria-label="description"
                         aria-describedby="basic-addon1"/>
                </div>
                <div class="form-group">
                  <label id="location" class="control-label col-form-label">Location*</label>
                  <input formControlName="location" type="text" class="form-control"
                         placeholder="Where you want to film the course" aria-label="location"
                         aria-describedby="basic-addon1"/>
                </div>
                <div class="form-group">
                  <label id="time" class="control-label col-form-label">Time*</label>
                  <input formControlName="date" type="datetime-local" class="form-control"
                         placeholder="Enter your preferred time slot" value="2008-05-13T22:33:00"/>
                </div>
                <div class="form-group">
                  <label id="dates" class="control-label col-form-label">Your preferred dates</label>
                  <p class="preferredDates">
                    Please select the dates when you would like to film the
                    course with the rootless team
                  </p>
                  <app-fullcalendar (datesClicked)="addDates($event)"></app-fullcalendar>
                </div>
              </div>
              <div class="form-group text-center" style="padding: 20px">
                <div class="col-xs-12 p-b-20">
                  <button type="submit" class="btn yellowBlack-btn padding-20 full-width" [disabled]="myForm.invalid">
                    <img src="../../../assets/images/flowerblack.png" style="width: 30px; margin-right: 10px"/>
                    submit form
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<img
  src="../../../assets/images/yellowFlower.png"
  class="yellowFlower"
  style="width: 30%; margin-top: -200px"
/>
