<div class="row about-us">
  <div class="col-lg-11 col-sm-12" style="margin: 70px auto">
    <h1 class="font-55 black-color no-margin">Meet the founders</h1>
    <p class="margin-b-t font-16 black-color no-margin col-lg-6">
      We are here to build a community of ROOTLESS citizens of the world. Here
      we present you with the people behind the idea.
    </p>
  </div>
  <div
    class="row feture-tabs aos-init aos-animate padding-b-t-40 justify-content-center"
    data-aos="fade-up"
  >
    <div class="col-lg-5">
      <img
        src="assets/images/user1.png"
        class="img-fluid d-block margin-auto"
      />
    </div>
    <div class="col-lg-6 d-flex">
      <div class="arrow-left"></div>
      <div class="titleDiv"><h2>CEO</h2></div>
      <!-- Tab Content -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab1">
          <div
            class="title_name"
            style="background-image: url('../assets/images/quotes.png')"
          >
            <h1>JOY TEDESCO</h1>
          </div>
          <div class="d-flex align-items-center mb-2" style="margin-left: 30px">
            <p>
              Ultrices aenean senectus est viverra sed quis senectus. Lacus,
              congue vitae varius consectetur nam vehicula scelerisque nec. Est
              id mi vitae gravida. Velit habitant tellus.
            </p>
          </div>
        </div>
        <!-- End Tab 1 Content -->
      </div>
    </div>
  </div>
  <div
    class="row feture-tabs aos-init aos-animate padding-b-t-40 justify-content-center"
    data-aos="fade-up"
  >
    <div class="col-lg-6 d-flex">
      <!-- Tab Content -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab1">
          <div
            class="title_name"
            style="background-image: url('../assets/images/quotes.png')"
          >
            <h1>Indira Grogan</h1>
          </div>
          <div class="d-flex align-items-center mb-2" style="margin-left: 30px">
            <p>
              Adipiscing in libero phasellus ac. Elementum id morbi malesuada
              dui purus massa viverra. Tempus amet, interdum et venenatis.
            </p>
          </div>
        </div>
        <!-- End Tab 1 Content -->
      </div>
      <div class="titleDiv"><h2>executive director</h2></div>
      <div class="arrow-right"></div>
    </div>
    <div class="col-lg-5">
      <img
        src="assets/images/user2.png"
        class="img-fluid d-block margin-auto"
      />
    </div>
  </div>
  <div
    class="row feture-tabs aos-init aos-animate padding-b-t-40 justify-content-center"
    data-aos="fade-up"
  >
    <div class="col-lg-5">
      <img
        src="assets/images/user3.png"
        class="img-fluid d-block margin-auto"
      />
    </div>
    <div class="col-lg-6 d-flex">
      <div class="arrow-left"></div>
      <div class="titleDiv"><h2>technical director</h2></div>
      <!-- Tab Content -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab1">
          <div
            class="title_name"
            style="background-image: url('../assets/images/quotes.png')"
          >
            <h1>Jared Pittman</h1>
          </div>
          <div class="d-flex align-items-center mb-2" style="margin-left: 30px">
            <p>
              Euismod eleifend vitae facilisis lorem gravida enim quis. Amet, id
              aliquam, tincidunt ornare fusce urna tincidunt.
            </p>
          </div>
        </div>
        <!-- End Tab 1 Content -->
      </div>
    </div>
  </div>
  <div class="container" id="explain" style="padding: 200px 0px">
    <div class="banner">
      <video [muted]="true" [autoplay]="true" loop="">
        <source
          src="https://res.cloudinary.com/yllza/video/upload/v1626173997/video_c6ouio.mp4"
          type="video/mp4"
        />
      </video>
      <h1>[ root-lis, root- ]</h1>
    </div>
    <!-- <h1>[ root-lis, root- ]</h1> -->
    <h2>
      having no place or position in society; <br />
      not in accord with the enviroment;
    </h2>
  </div>

  <div class="col-lg-11 col-sm-12" style="margin: 70px auto">
    <h1 class="font-55 black-color no-margin">Let us tell you more about us</h1>
  </div>

  <div
    class="sliders profileSlider"
    style="display: grid; margin: 40px; margin-top: 100px; width: 100%"
    id="parahraphsSection"
  >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="container">
          <div class="enoughisenough">
            <h1>Our mission</h1>
          </div>
          <div class="enoughisenoughtwo">
            <h2>
              Vel, nulla vel bibendum purus. Sed aliquam sociis aliquet viverra
              odio morbi. Felis laoreet diam volutpat eget sem quam in justo. At
              mauris accumsan adipiscing.
            </h2>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="container">
          <div class="choosewhereyouwanttogo">
            <h1>Our values</h1>
          </div>
          <div class="choosewhereyouwanttogotwo">
            <h2>
              Vel, nulla vel bibendum purus. Sed aliquam sociis aliquet viverra
              odio morbi. Felis laoreet diam volutpat eget sem quam in justo. At
              mauris accumsan adipiscing.
            </h2>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="container">
          <div class="fromrootlesstorooted">
            <h1>Our vision</h1>
          </div>
          <div class="fromrootlesstorootedtwo">
            <h2>
              Vel, nulla vel bibendum purus. Sed aliquam sociis aliquet viverra
              odio morbi. Felis laoreet diam volutpat eget sem quam in justo. At
              mauris accumsan adipiscing.
            </h2>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div
    class="col-lg-6 col-sm-12 padding-b-t-40 text-right"
    style="margin-right: 60px; margin-left: auto; margin-top: 130px"
  >
    <h1 class="font-55 black-color no-margin">Awards we won in the past</h1>
    <p class="margin-b-t font-16 black-color no-margin col-lg-12">
      It was not easy. It was really hard. But it was so worth it in the end.
      Some of our achievements were also internationally recognized.
    </p>
  </div>

  <div
    class="sliders profileSlider"
    style="display: grid; margin: 40px; margin-top: 100px; width: 100%"
    id="parahraphsSection"
  >
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="container">
          <div class="">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <img
                    src="assets/images/award1.png"
                    alt="Card image cap"
                    class="card-img-top img-responsive margin-auto"
                    width="200"
                    style="width: 200px"
                  />
                  <div class="card-body">
                    <h4 class="card-title">
                      - TOP 5 - Massachusetts’ Fastest Growing Companies
                    </h4>
                    <p class="card-text">
                      Accumsan sed et ut fusce odio diam feugiat mauris ipsum.
                      Ipsum.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <img
                    src="assets/images/award1.png"
                    alt="Card image cap"
                    class="card-img-top img-responsive margin-auto"
                    width="200"
                    style="width: 200px"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Entrepreneur of the year 2021</h4>
                    <p class="card-text">
                      Accumsan sed et ut fusce odio diam feugiat mauris ipsum.
                      Ipsum.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <img
                    src="assets/images/award2.png"
                    alt="Card image cap"
                    class="card-img-top img-responsive margin-auto"
                    width="200"
                    style="width: 140px"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Rising Star by COMP2021</h4>
                    <p class="card-text">
                      Accumsan sed et ut fusce odio diam feugiat mauris ipsum.
                      Ipsum.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="col-lg-11 col-sm-12" style="margin: 70px auto">
    <h1 class="font-55 black-color no-margin">Some interesting numbers</h1>
    <p class="margin-b-t font-16 black-color no-margin col-lg-6">
      We promise we won’t bore you with a lot of details.
    </p>

    <div class="col-md-6 row margin-auto mt-5 stats">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="card">
            <div class="box firstBox">
              <p>21</p>
            </div>
            <h3 class="img-title">entrepreneurs Featured</h3>
            <div class="greenflower-text">
              <img
                src="assets/images/blackflower.png"
                class="sectiononflowerred"
              />
              <h3 style="color: #333">to the experts library</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4" style="margin-top: 120px">
          <div class="card">
            <div class="box secondBox">
              <p>9</p>
            </div>
            <h3 class="img-title">courses Created</h3>
            <div class="greenflower-text">
              <img
                src="assets/images/flowergreen.png"
                class="sectiononflowerred"
              />
              <h3 style="color: #6faeac">to courses</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4" style="margin-top: 240px">
          <div class="card">
            <div class="box thirdBox">
              <p>120</p>
            </div>
            <h3 class="img-title">NEW ROOTLESS ME MEMBERS IN 1 YEAR</h3>
            <div class="purpleflower-text">
              <img
                src="assets/images/flowerpurple.png"
                class="sectiononflowerred"
              />
              <h3 style="color: #784ebc; padding-left: 15px">JOIN US</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="width: 100%">
        <div class="col-lg-4 col-md-4" style="margin-left: 13%">
          <div class="card">
            <div class="box forthBox">
              <p>4</p>
            </div>
            <h3 class="img-title">EVENTS ORGANIZED IN 2022</h3>
            <div class="yellowflower-text">
              <img
                src="assets/images/floweryellow.png"
                class="sectiononflowerred"
              />
              <h3 style="color: #e0a800">to EVENTS</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4" style="margin-top: 120px">
          <div class="card">
            <div class="box fifthBox">
              <p>97</p>
            </div>
            <h3 class="img-title">BLUEPRINTS AVAILABLE</h3>
            <div class="redflower-text">
              <img
                src="assets/images/flowerred.png"
                class="sectiononflowerred"
              />
              <h3 style="color: #ff4b0a">to THE BLUEPRINT LIBRARY</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="beforeyougo col-sm-6 m-auto" id="beforeyougo">
    <form action="">
      <div class="beforeyou">
        <h1>Before you go</h1>
      </div>
      <div class="enteremail">
        <input
          class="inputone"
          type="text"
          placeholder="Enter your email"
          name="mail"
          required=""
        />
      </div>
      <div class="subscribe">
        <button class="inputtwo" type="submit">
          <img
            src="assets/images/flowerblack.png"
            style="width: 30px; margin-right: 10px"
          />
          subscribe to get a free blueprint
        </button>
      </div>
    </form>
  </section>
</div>
<aside class="customizer">
  <a href="javascript:void(0)" class="service-panel-toggle">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
  </a>
</aside>
