<div class="contactPage">
  <div class="row container margin-auto">
    <div class="col-lg-6 col-sm-12">
      <h1 class="font-55 black-color no-margin" style="width: 50%">
        Contact us
      </h1>
      <p class="margin-b-t font-25 black-color no-margin">
        We are happy to hear from you! <br />
        Get in touch if you want to share your ideas with us or give your
        feedback
      </p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div>
        <div class="row">
          <div class="margin-auto text-center">
            <div style="background: #ffc20a; color: #fff; padding: 10px">
              Form
            </div>
          </div>
        </div>
        <!-- Form -->
        <div class="row">
          <div class="col-12">
            <form class="form-horizontal m-t-20">
              <div class="form-group">
                <label id="inputemail" class="control-label col-form-label"
                  >Name Surname</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name Surname"
                  aria-label="email"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div class="form-group">
                <label id="inputemail" class="control-label col-form-label"
                  >Email</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter your email"
                  aria-label="email"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div class="form-group">
                <label class="control-label col-form-label">Reason</label>
                <select
                  class="form-control"
                  style="padding: 10px !important; height: 54px"
                >
                  <option value="Select" selected="true">
                    Select a reason
                  </option>
                  <option value="another">another</option>
                </select>
              </div>
              <div class="form-group">
                <label id="inputemail" class="control-label col-form-label"
                  >Message</label
                >
                <textarea
                  type="text"
                  class="form-control"
                  placeholder="Message"
                  aria-label="email"
                  aria-describedby="basic-addon1"
                ></textarea>
              </div>
              <div class="form-group text-center">
                <div class="col-xs-12 p-b-20">
                  <button
                    class="btn yellowBlack-btn padding-20"
                    href="/dashboard/dashboard1"
                  >
                    <img
                      src="../../assets/images/flowerblack.png"
                      style="width: 30px; margin-right: 10px"
                    />
                    send
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<img
  src="../../assets/images/yellowFlower.png"
  class="yellowFlower"
  style="width: 30%; margin-top: -200px"
/>
