<div class="blueprint">
  <div class="">
    <h1 class="m-b-15">Rootless Forum</h1>
    <p class="margin-b-t">The place where all your questions get answers.</p>
  </div>
  <div class="green-header margin-b-t">
    <h4>popular questions</h4>
  </div>
  <!-- Row -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h3 class="font-normal">How important is music in your life?</h3>
          <div class="d-flex no-block align-items-center m-b-15">
            <span> 20 May 2018</span>
          </div>
          <div class="ml-auto">
            <a href="javascript:void(0)" class="link">
              <i class="ti-comments"></i> 3 Comments</a
            >
          </div>
          <div class="tags">
            <button class="btn btn-success green-btn m-t-20">Music</button>
            <button class="btn btn-success green-btn m-t-20">Art</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h3 class="font-normal">
            How to use instagram to drive more trafic to my site ?
          </h3>
          <div class="d-flex no-block align-items-center m-b-15">
            <span> 19 May 2018</span>
          </div>
          <div class="ml-auto">
            <a href="javascript:void(0)" class="link">
              <i class="ti-comments"></i> 5 Comments</a
            >
          </div>
          <div class="tags">
            <button class="btn btn-success green-btn m-t-20">Instagram</button>
            <button class="btn btn-success green-btn m-t-20">Art</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h3 class="font-normal">How important is music in your life?</h3>
          <div class="d-flex no-block align-items-center m-b-15">
            <span> 29 May 2018</span>
          </div>
          <div class="ml-auto">
            <a href="javascript:void(0)" class="link">
              <i class="ti-comments"></i> 6 Comments</a
            >
          </div>
          <div class="tags">
            <button class="btn btn-success green-btn m-t-20">Music</button>
            <button class="btn btn-success green-btn m-t-20">Art</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="row cards" style="margin-top: 0">
        <div class="col-md-3 p-r-0 vertical-tab">
          <p class="title">INDUSTRIES</p>
          <ul>
            <li>All</li>
            <li>Music</li>
            <li>Fashion</li>
            <li>Photography</li>
            <li>Cinematography</li>
            <li>Programming</li>
            <li>Graphic Design</li>
            <li>Engineering</li>
            <li>Entrepreneurship</li>
            <li>Finance</li>
          </ul>
          <p class="see-more">See more</p>
        </div>
        <div class="col-md-9 row">
          <div>
            <p class="no-margin font-weight-bold font-24 text-uppercase">
              Music
            </p>
            <p class="no-margin font-13">forum</p>
          </div>
          <div class="ml-auto">
            <input placeholder="Search for something" class="searchBlog" />
            <i class="ti-search" style="-webkit-text-stroke-width: 1px"></i>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <img
                  src="../../assets/images/big/img1.jpg"
                  alt="Card image cap"
                  class="card-img-top img-responsive"
                />
                <div class="card-body">
                  <h4 class="card-title">
                    Discovering new music through painting
                  </h4>
                  <p class="card-text no-margin">
                    3 days ago by <span class="card-text-colored">Arnon</span>
                  </p>
                  <div class="purple-tags">
                    <button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Farward thinking</button
                    ><button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Art
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <img
                  src="../../assets/images/big/img1.jpg"
                  alt="Card image cap"
                  class="card-img-top img-responsive"
                />
                <div class="card-body">
                  <h4 class="card-title">
                    Discovering new music through painting
                  </h4>
                  <p class="card-text no-margin">
                    3 days ago by <span class="card-text-colored">Arnon</span>
                  </p>
                  <div class="purple-tags">
                    <button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Farward thinking</button
                    ><button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Art
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <img
                  src="../../assets/images/big/img1.jpg"
                  alt="Card image cap"
                  class="card-img-top img-responsive"
                />
                <div class="card-body">
                  <h4 class="card-title">
                    Discovering new music through painting
                  </h4>
                  <p class="card-text no-margin">
                    3 days ago by <span class="card-text-colored">Arnon</span>
                  </p>
                  <div class="purple-tags">
                    <button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Farward thinking</button
                    ><button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Art
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <img
                  src="../../assets/images/big/img1.jpg"
                  alt="Card image cap"
                  class="card-img-top img-responsive"
                />
                <div class="card-body">
                  <h4 class="card-title">
                    Discovering new music through painting
                  </h4>
                  <p class="card-text no-margin">
                    3 days ago by <span class="card-text-colored">Arnon</span>
                  </p>
                  <div class="purple-tags">
                    <button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Farward thinking</button
                    ><button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Art
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <img
                  src="../../assets/images/big/img1.jpg"
                  alt="Card image cap"
                  class="card-img-top img-responsive"
                />
                <div class="card-body">
                  <h4 class="card-title">
                    Discovering new music through painting
                  </h4>
                  <p class="card-text no-margin">
                    3 days ago by <span class="card-text-colored">Arnon</span>
                  </p>
                  <div class="purple-tags">
                    <button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Farward thinking</button
                    ><button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Art
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <img
                  src="../../assets/images/big/img1.jpg"
                  alt="Card image cap"
                  class="card-img-top img-responsive"
                />
                <div class="card-body">
                  <h4 class="card-title">
                    Discovering new music through painting
                  </h4>
                  <p class="card-text no-margin">
                    3 days ago by <span class="card-text-colored">Arnon</span>
                  </p>
                  <div class="purple-tags">
                    <button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Farward thinking</button
                    ><button
                          class="btn btn-success purple-btn-tags m-t-20"
                    >
                      Art
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="beforeyougo col-sm-6 ml-auto mr-auto text-center mt-5 mb-5"
    id="beforeyougo"
  >
    <div>
      <div class="beforeyou">
        <h1>Are you an expert at what you do?</h1>
        <p>
          You can share your knowledge with our community by answering questions
          and helping people in their lives missions.
        </p>
        <div class="col-xs-12 p-b-20">
          <button class="btn yellowBlack-btn padding-20 full-width">
            <img
              src="../../assets/images/flowerblack.png"
              style="width: 30px; margin-right: 10px"
            />
            apply to join the rootless experts
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
