<div class="container loginPage">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <h1 class="font-55 black-color no-margin">Almost there</h1>
      <p class="margin-b-t font-25 black-color no-margin">pick a good one</p>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div>
        <!-- Form -->
        <div class="row">
          <div class="col-12">
            <form class="form-horizontal m-t-20">
              <div class="form-group">
                <label id="inputpassword" class="control-label col-form-label">PASSWORD</label>
                <input type="password" class="form-control" placeholder="*********" aria-label="password"
                  aria-describedby="basic-addon1" />
              </div>
              <div class="form-group">
                <label id="inputpassword2" class="control-label col-form-label">PASSWORD</label>
                <input type="password" class="form-control" placeholder="*********" aria-label="password"
                  aria-describedby="basic-addon1" />
              </div>
              <div class="form-group text-center">
                <div class="col-xs-12 p-b-20">
                  <button class="btn yellowBlack-btn padding-20" href="/dashboard/dashboard1">
                    <img src="assets/images/flowerblack.png" style="width: 30px; margin-right: 10px" />
                    reset my password
                  </button>
                </div>
              </div>

              <div class="form-group m-b-0 m-t-10">
                <div class="col-sm-12 text-center">
                  Nevermind, I remembered.<a [routerLink]="['/login']" class="text-info m-l-5"><b>Let me login </b></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/images/yellowFlower.png" style="width: 30%; position: fixed; bottom: -100px; left: 0" />
</div>