<div id="pricing">
  <div class="d-block">
    <div class="col-lg-12 col-sm-12" style="padding: 60px">
      <h1 class="font-55 black-color no-margin text-center">
        Join us as an expert
      </h1>
      <div class="purpleBox mh-100 col-lg-8 mt-5">
        <div class="boxPadding">
          <div class="d-flex">
            <div class="col-lg-7 text-left">
              <div class="float-left mr-2">
                <img src="assets/images/expert.svg" class="mr-3" />
              </div>
              <div class="float-left">
                <p class="purpleText">Rootless Expert</p>
                <p class="boldText">$200 / year</p>
                <p>+ extra charges for each converted client</p>
              </div>
            </div>
            <div class="col-lg-5 text-left">
              <p><i class="fa fa-check"></i> an expert badge</p>
              <p>
                <i class="fa fa-check"></i> Apply to speak in webinars & courses
              </p>
              <p><i class="fa fa-check"></i> Submit personal expert sheet</p>
              <p><i class="fa fa-check"></i> Submit blog</p>
              <p><i class="fa fa-check"></i> Get direct clients</p>
            </div>
          </div>

          <button class="inputtwo" type="submit" style="background: #8e6bc7">
            <img
              src="assets/images/flower-white.svg"
              style="width: 30px; margin-right: 10px"
            />
            be the expert
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="contactPage mt-5">
    <div class="row container margin-auto">
      <div class="col-lg-8 col-sm-12 margin-auto text-center">
        <h1 class="font-55 black-color no-margin">How rootless works</h1>
      </div>
      <div class="col-lg-12 col-sm-12 mt-5">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <img
                src="assets/images/number-expert.png"
                alt="Card image cap"
                class="card-img-top img-responsive"
              />
              <div class="card-body text-center">
                <p class="card-text no-margin">
                  Share your insights through an interview
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <img
                src="assets/images/number2-expert.png"
                alt="Card image cap"
                class="card-img-top img-responsive"
              />
              <div class="card-body text-center">
                <p class="card-text no-margin">
                  Create courses and host events
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <img
                src="assets/images/number3-expert.png"
                alt="Card image cap"
                class="card-img-top img-responsive"
              />
              <div class="card-body text-center">
                <p class="card-text no-margin">
                  Create your own rootless community
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <img
                src="assets/images/number4-expert.png"
                alt="Card image cap"
                class="card-img-top img-responsive"
              />
              <div class="card-body text-center">
                <p class="card-text no-margin">
                  Connect with other rootless experts
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      src="assets/images/yellowFlower.png"
      style="
        width: 30%;
        position: absolute;
        bottom: -100px;
        left: -150px;
        display: none;
      "
    />
  </div>

  <div class="contactPage mt-5">
    <div class="row margin-auto">
      <div class="col-lg-8 col-sm-12 margin-auto text-center">
        <h1 class="font-55 black-color no-margin">Expert verified!</h1>
        <p class="margin-b-t font-25 black-color mt-5 mb-5">
          Upon submitting your expert sheet the rootless team will verify it
          within 24h. As soon as your account is verified, you will be billed
          for the first year.
        </p>
        <div>
          <img src="assets/images/expert-verified.svg" class="risk" />
        </div>
      </div>
      <div class="col-lg-12 col-sm-12 mt-5">
        <div>
          <div class="row">
            <div class="col-12">
              <div class="form-group text-center">
                <div class="col-xs-12 p-b-20">
                  <button
                    class="btn yellowBlack-btn padding-20"
                    [routerLink]="['/signup']"
                    (click)="setExpert()"
                  >
                    <img
                      src="assets/images/flowerblack.png"
                      style="width: 30px; margin-right: 10px"
                    />
                    get started now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      src="assets/images/yellowFlower.png"
      style="
        width: 30%;
        position: absolute;
        bottom: -100px;
        left: -150px;
        display: none;
      "
    />
  </div>

  <div class="col-lg-12 col-sm-12 d-flex mt-5" style="padding: 60px">
    <section class="blueprint-left">
      <section class="blueprint-photos">
        <div class="mary">
          <div class="container1">
            <img src="assets/images/mary1.png" class="maryimg" />
            <div class="overlay1">
              <div class="text1">
                <h4>Magazine</h4>
                <h5>Industry</h5>
              </div>
            </div>
          </div>
          <h1>Mary Elliot</h1>
          <h2>Elliot &amp; Co</h2>
          <img src="assets/images/mapicon.png" class="mapicon1" />
          <h3>Boston</h3>
        </div>
        <div class="arnon">
          <div class="container2">
            <img src="assets/images/arnon.png" class="arnonimg" />
            <div class="overlay2">
              <div class="text2">
                <h4>Music</h4>
                <h5>Industry</h5>
              </div>
            </div>
          </div>
          <h1>Arnon</h1>
          <h2>
            Music <br />
            Producer
          </h2>
          <img src="assets/images/mapicon.png" class="mapicon2" />
          <h3>Tirana</h3>
        </div>
      </section>
      <section class="blueprint-photos-two">
        <div class="lauren-luela">
          <div class="container3">
            <img src="assets/images/lauren.png" class="lauren-luelaimg" />
            <div class="overlay3">
              <div class="text3">
                <h4>Beauty</h4>
                <h5>Industry</h5>
              </div>
            </div>
          </div>
          <h1>
            Lauren &amp; <br />
            Luela
          </h1>
          <h2>LUELLE</h2>
          <img src="assets/images/mapicon.png" class="mapicon3" />
          <h3>New York</h3>
        </div>
        <div class="derek">
          <div class="container4">
            <img src="assets/images/derek1.png" class="derekimg" />
            <div class="overlay4">
              <div class="text4">
                <h4>Banking</h4>
                <h5>Industry</h5>
              </div>
            </div>
          </div>
          <h1>
            Derek <br />
            Anderson
          </h1>
          <h2>Poerpay</h2>
          <img src="assets/images/mapicon.png" class="mapicon4" />
          <h3>LA</h3>
        </div>
      </section>
    </section>
    <div class="row">
      <div class="col-lg-8 col-sm-12 margin-auto text-left">
        <h1 class="font-55 black-color no-margin">
          Apply to get featured in blueprint
        </h1>
        <p class="margin-b-t font-25 black-color no-margin">
          Share your insights with the rootless community through an interview
          with the rootless team
        </p>
        <h2 class="h2">
          <img src="assets/images/downarrowpurp.png" class="arrowpurp" />
          see all features
        </h2>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-sm-12 d-flex" style="padding: 60px">
    <div class="row">
      <div class="col-lg-12 col-sm-12 margin-auto text-left">
        <h1 class="font-55 black-color no-margin">
          Be an instructor & an event host
        </h1>
        <p class="margin-b-t font-25 black-color no-margin">
          You can create courses with the rootless team as well as host events
          for the community
        </p>
        <h2 class="h2">
          <img src="assets/images/downarrowpurp.png" class="arrowpurp" />
          see all features
        </h2>
      </div>
    </div>
    <div class="col-md-6 row">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="card">
            <img
              alt="Card image cap"
              class="card-img-top img-responsive"
              src="assets/images/david-travis.png"
            />
            <h3 class="img-title">The basics of construction industry</h3>
            <div class="card-body">
              <h4 class="card-title m-t-20">
                A course by
                <span class="purple-color">Greta Bajrami</span>
              </h4>
              <div class="purple-tags">
                <button class="btn btn-success purple-btn-tags m-t-5">
                  art</button
                ><button class="btn btn-success purple-btn-tags m-t-5">
                  webinar
                </button>
              </div>
              <div class="m-t-10">
                <span class="font-16"
                  >$20 one time fee or free with Rootless Me membership</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" style="margin-top: 120px">
          <div class="card">
            <img
              alt="Card image cap"
              class="card-img-top img-responsive"
              src="assets/images/david-travis.png"
            />
            <h3 class="img-title">The basics of construction industry 2</h3>
            <div class="card-body">
              <h4 class="card-title m-t-20">
                A course by
                <span class="purple-color">Greta Bajrami 2</span>
              </h4>
              <div class="purple-tags">
                <button class="btn btn-success purple-btn-tags m-t-5">
                  Video Editing 2</button
                ><button class="btn btn-success purple-btn-tags m-t-5">
                  Process 2</button
                ><button class="btn btn-success purple-btn-tags m-t-5">
                  ...
                </button>
              </div>
              <div class="m-t-10">
                <span class="font-16"
                  >$20 one time fee or free with Rootless Me membership 2</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="card">
            <img
              alt="Card image cap"
              class="card-img-top img-responsive"
              src="assets/images/david-travis.png"
            />
            <h3 class="img-title">The basics of construction industry</h3>
            <div class="card-body">
              <h4 class="card-title m-t-20">
                A course by
                <span class="purple-color">Greta Bajrami</span>
              </h4>
              <div class="purple-tags">
                <button class="btn btn-success purple-btn-tags m-t-5">
                  art</button
                ><button class="btn btn-success purple-btn-tags m-t-5">
                  webinar
                </button>
              </div>
              <div class="m-t-10">
                <span class="font-16"
                  >$20 one time fee or free with Rootless Me membership</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" style="margin-top: 120px">
          <div class="card">
            <img
              alt="Card image cap"
              class="card-img-top img-responsive"
              src="assets/images/david-travis.png"
            />
            <h3 class="img-title">The basics of construction industry 2</h3>
            <div class="card-body">
              <h4 class="card-title m-t-20">
                A course by
                <span class="purple-color">Greta Bajrami 2</span>
              </h4>
              <div class="purple-tags">
                <button class="btn btn-success purple-btn-tags m-t-5">
                  Video Editing 2</button
                ><button class="btn btn-success purple-btn-tags m-t-5">
                  Process 2</button
                ><button class="btn btn-success purple-btn-tags m-t-5">
                  ...
                </button>
              </div>
              <div class="m-t-10">
                <span class="font-16"
                  >$20 one time fee or free with Rootless Me membership 2</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-sm-12 d-flex" style="padding: 60px">
    <div class="blogsCard col-lg-6 col-sm-6">
      <div class="col-lg-12 col-md-12 d-flex">
        <div class="mt-0">
          <img
            src="assets/images/user1.png"
            class="rounded-circle"
            width="40"
          />
        </div>

        <div class="cards" style="margin-top: 0">
          <div class="col-md-12">
            <p class="card-text mb-0">
              <b>Jason</b>
              <span class="card-text-colored"> 21.01.2021 asked to </span>
              Arnon
            </p>
            <h1 class="card-title font-22 font-light">
              Adipiscing eget odio vehicula arcu vitae pharetra massa porta
              arcu?
            </h1>
            <img
              src="assets/images/blog1.png"
              alt="Card image cap"
              class="card-img-top img-responsive"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="purple-tags">
                <button class="btn btn-success purple-btn-tags">
                  Farward thinking</button
                ><button class="btn btn-success purple-btn-tags">Art</button>
              </div>
            </div>
          </div>
          <div class="bg-white">
            <div class="d-flex flex-row fs-12">
              <div class="like p-2 cursor">
                <i class="fa fa-comment-alt"></i><span class="ml-1">5</span>
              </div>
              <div class="like p-2 cursor">
                <i class="fa fa-share-alt"></i><span class="ml-1">11</span>
              </div>
              <div class="like p-2 cursor">
                <i class="fa fa-bookmark"></i><span class="ml-1">2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-lg-6 col-sm-6">
      <div class="col-lg-8 col-sm-12 margin-auto text-left">
        <h1 class="font-55 black-color no-margin">
          Create your own rootless community
        </h1>
        <p class="margin-b-t font-25 black-color no-margin">
          Create blogs posts and answer community questions in the forum
        </p>
        <h2 class="h2">
          <img src="assets/images/downarrowpurp.png" class="arrowpurp" />
          see all features
        </h2>
      </div>
    </div>
  </div>

  <div class="contactPage mt-5">
    <div class="row container margin-auto">
      <div class="col-lg-8 col-sm-12 margin-auto text-center">
        <h1 class="font-55 black-color no-margin">Features</h1>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 mt-5" style="padding: 60px 20%">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th class="firstTitle">Rootless Expert</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td class="text-center">$15 / month billed annually</td>
          </tr>
          <tr>
            <td></td>
            <td class="text-center">
              <button
                class="inputtwo"
                type="submit"
                style="background: #784ebc"
              >
                <img src="assets/images/flower-white.svg" class="button-img" />
                be the expert
              </button>
            </td>
          </tr>
          <tr>
            <td class="titleTd">Blueprints Library</td>
            <td></td>
          </tr>
          <tr>
            <td>Access to blueprint library</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Access to blueprint page</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Download blueprint</td>
            <td></td>
          </tr>
          <tr>
            <td>Apply to be featuredin blueprint</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td></td>

            <td></td>
          </tr>
          <tr>
            <td class="titleTd">Experts Library</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Access to all experts</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Access expert profile</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Contact an expert</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td></td>

            <td></td>
          </tr>
          <tr>
            <td class="titleTd">Courses</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Access to all courses</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Access to course page</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Attend a course</td>
            <td class="dollar">
              <div>
                <img src="assets/images/check-purple.png" />
                <p>(free)</p>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>

            <td></td>
          </tr>
          <tr>
            <td class="titleTd">Events</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Access to all events</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Access to event page</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Book an event</td>
            <td class="dollar">
              <div>
                <img src="assets/images/check-purple.png" />
                <p>(free)</p>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>

            <td></td>
          </tr>
          <tr>
            <td class="titleTd">Forum</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Access to forum</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Post questions</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Answer questions</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Upvote / downvote answers & questions</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Assign question to expert</td>
            <td></td>
          </tr>
          <tr>
            <td></td>

            <td></td>
          </tr>
          <tr>
            <td class="titleTd">Blog</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Access to all blogs</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td>Comment on blogs</td>
            <td><img src="assets/images/check-purple.png" /></td>
          </tr>
          <tr>
            <td></td>

            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="text-center">
              <button
                class="inputtwo"
                type="submit"
                style="background: #784ebc"
              >
                <img src="assets/images/flower-white.svg" class="button-img" />
                be the expert
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="faq">
    <div class="divFaq">
      <div class="col-lg-12 col-sm-12" style="margin: 70px 0">
        <h1 class="font-55 black-color no-margin col-lg-12 text-center">
          FAQs
        </h1>
      </div>
      <div class="col-lg-12">
        <ngb-accordion
          #a="ngbAccordion"
          activeIds="custom-panel-1"
          class="col-lg-12"
        >
          <ngb-panel
            [disabled]="disabled"
            [cardClass]="disabled ? 'disabled' : ''"
          >
            <ng-template ngbPanelHeader>
              <div class="d-flex align-items-center justify-content-between">
                <button
                  ngbPanelToggle
                  class="btn btn-link container-fluid text-left pl-0 d-flex"
                >
                  <img
                    src="assets/images/arrowFaq.svg"
                    width="20"
                    class="titleImg"
                  />
                  <p class="titleP">
                    Habitasse neque vitae posuere non id dictum ornare ut
                    gravida?
                  </p>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </ng-template>
          </ngb-panel>
          <ngb-panel
            [disabled]="disabled"
            [cardClass]="disabled ? 'disabled' : ''"
          >
            <ng-template ngbPanelHeader>
              <div class="d-flex align-items-center justify-content-between">
                <button
                  ngbPanelToggle
                  class="btn btn-link container-fluid text-left pl-0 d-flex"
                >
                  <img
                    src="assets/images/arrowFaq.svg"
                    width="20"
                    class="titleImg"
                  />
                  <p class="titleP">
                    Morbi curabitur ullamcorper velit neque, viverra dui,
                    maecenas lobortis turpis?
                  </p>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </ng-template>
          </ngb-panel>
          <ngb-panel
            [disabled]="disabled"
            [cardClass]="disabled ? 'disabled' : ''"
          >
            <ng-template ngbPanelHeader>
              <div class="d-flex align-items-center justify-content-between">
                <button
                  ngbPanelToggle
                  class="btn btn-link container-fluid text-left pl-0 d-flex"
                >
                  <img
                    src="assets/images/arrowFaq.svg"
                    width="20"
                    class="titleImg"
                  />
                  <p class="titleP">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </button>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div
        class="purpleflower-text text-center col-lg-12 margin-auto"
        style="justify-content: center"
      >
        <img src="assets/images/flowerpurple.png" class="sectiononflowerred" />
        <h3 style="color: #784ebc; padding-left: 15px">see more</h3>
      </div>
    </div>
  </div>

  <div class="contactPage mt-5 mb-5">
    <div class="row container margin-auto">
      <div class="col-lg-12 col-sm-12 margin-auto text-center">
        <h1 class="font-55 black-color no-margin">
          Welcome Future Rootless Experts
        </h1>
        <p class="margin-b-t font-25 black-color no-margin">
          We are excited to have you in the community and share experience!
        </p>
      </div>
      <div class="col-12 p-b-20 text-center mt-5">
        <button
          [routerLink]="['/signup']"
          (click)="setExpert()"
          class="btn yellowBlack-btn padding-20"
        >
          <img
            src="assets/images/flowerblack.png"
            style="width: 30px; margin-right: 10px"
          />
          get started now
        </button>
      </div>
    </div>
    <img
      src="assets/images/yellowFlower.png"
      style="
        width: 30%;
        position: absolute;
        bottom: -100px;
        left: -150px;
        display: none;
      "
    />
  </div>
</div>
