<div class="container formSubmit">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="font-55 black-color no-margin">Form submitted!</h1>
      <div
        class="col-lg-8 col-xlg-9 col-md-7 no-margin d-block no-padding"
        style="padding: 0"
      >
        <div class="card mainContent">
          <p class="body font-25">Processing started</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div>
        <!-- Form -->
        <div class="row">
          <div class="col-12">
            <p class="paragraphForm">
              Our Rootless team will process your information within 24 hours.
              You will receive an email with updates on your application. Until
              then enjoy Rootless!
            </p>
            <div
              class="form-group text-center"
              style="padding: 20px; padding-left: 0; margin: 0"
            >
              <div
                class="col-6 p-b-20"
                style="padding: 20px; padding-left: 0; margin: 0"
              >
                <button
                  type="submit"
                  class="btn yellowBlack-btn padding-20 full-width"
                  href="/dashboard/dashboard1"
                >
                  <!-- (click)="nextStep()" (click)="addNewItem(true)" -->
                  <img
                    src="../../assets/images/flowerblack.png"
                    style="width: 30px; margin-right: 10px"
                  />
                  to homepage
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<img
  src="../../assets/images/yellowFlower.png"
  style="width: 30%; bottom: -10px; left: 0"
/>
