#search {
  #header {
    width: 100%;
    height: 100vh;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    background: rgb(89, 161, 157);
    background: linear-gradient(
      -45deg,
      #784ebc,
      #8e6bc7,
      #ffc20a,
      #ff4b0a,
      #6faeac,
      #c2ebe9
    );
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    .input {
      height: 100%;
      display: inline-flex;
      width: 100%;
    }
    input {
      background: #ffffff;
      border: 2px solid #111111;
      margin: auto;
      justify-content: center;
      width: 30%;
      padding: 12px;
      margin-left: 0;
      border-left: none;
    }
    .search-icon {
      background: #ffffff;
      border: 2px solid #111111;
      margin: auto;
      justify-content: center;
      width: 60px;
      padding: 10px;
      margin-right: 0;
      border-right: none;
    }
  }

  .animation {
    height: 30vh !important;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .searchResult {
    color: #8e6bc7;
    font-style: italic;
  }
  #blueprints,
  #forums {
    .yellow-header {
      background-color: #feecb7;
      padding: 5px 20px;

      h4 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        color: #e0a800;
      }
    }
    .blueprintCard,
    .forumsDiv {
      margin-bottom: 100px;
      padding: 1.25em;
      .card-title {
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #e0a800;
      }

      .card-company {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        color: #111111;
      }

      .card-location {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #111111;
        margin-bottom: 5px;
      }

      .card-desc {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #111111;
        margin: 0 0 10px 0;
      }
      .img-responsive {
        border: 10px solid #e0a800;
      }

      .statisticsContainer {
        div {
          span {
            border: 5px solid #e0a800;
          }
        }
      }

      .tags {
        .btn {
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 18px;
          text-transform: lowercase;
        }

        .btn-white {
          background: #f0f0f0;
          border: 1px solid #e0a800;
          color: #e0a800;
        }

        .btn-teal {
          color: #ffffff;
          background: #e0a800;
          margin-left: 10px;
        }
      }
      .card-body {
        padding-bottom: 0;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 0;
      }
    }
  }
  #courses,
  #experts {
    .green-header {
      background-color: #e0f4f3;
      padding: 10px 20px;
      h4 {
        color: #6faeac;
      }
    }
    .coursesDiv,
    .expertsDiv {
      margin-bottom: 100px;
      padding: 1.25em;
      .green-btn {
        width: 100%;
        background-color: #6faeac;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: left;
        border: none;
      }
      .green-tags {
      }
      .green-btn-tags {
        background-color: rgb(194 235 233);
        color: #000;
        font-size: 13px;
        border: none;
        margin-right: 10px;
      }
      .green-bg {
        border: 1px solid #6faeac;
        padding: 20px;
      }
      .img-title {
        color: white;
        margin-top: -66px;
        margin-left: 10px;
        font-weight: 500;
      }
    }
  }
  #events,
  #blogs {
    .purple-header {
      background-color: #dcd2ed;
      padding: 10px 20px;
      h4 {
        color: #784ebc;
      }
    }
    .eventsDiv {
      margin-bottom: 100px;
      padding: 1.25em;
      color: #fff;
      .purple-btn {
        width: 100%;
        background-color: #784ebc;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: left;
        border: none;
      }
      .purple-tags {
      }
      .purple-btn-tags {
        background-color: rgb(194 235 233);
        color: #000;
        font-size: 13px;
        border: none;
        margin-right: 10px;
      }
      .purple-bg {
        background: #784ebc;
        border: 1px solid #784ebc;
        padding: 20px;
      }
      .img-title {
        color: white;
        margin-top: -66px;
        margin-left: 10px;
        font-weight: 500;
      }
    }
    .blogsCard {
      div {
        margin-top: 50px;

        .primaryBtn {
          width: 100%;
        }

        .cards {
          div {
            margin-top: 0;
          }

          .card-body {
            padding: 1.25rem 0;

            .card-title {
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 26px;
              color: #111111;
            }

            .card-text {
              font-family: Poppins;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
              color: #525252;
            }

            .card-text-colored {
              color: #784ebc;
            }

            .card-date {
              font-family: Poppins;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #111111;
            }
            .purple-btn-tags {
              background-color: #dcd2ed;
              color: #000;
              font-size: 13px;
              border: none;
              margin-right: 10px;
            }
            .badge {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .show {
    display: block !important;
  }
  @media (min-width: 900px) {
    .padding-40 {
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    input {
      width: 70% !important;
    }
  }
}
