<div class="row notificationsPage">
  <div class="col-lg-12 col-sm-12" style="padding: 60px">
    <h1 class="font-55 black-color no-margin" style="width: 50%">Settings</h1>
    <p class="margin-b-t font-25 black-color no-margin">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <div class="col-lg-12 col-xlg-12 col-md-12">
    <div class="card mainContent">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Account</a>
          <ng-template ngbNavContent>
            <div class="row" style="padding: 0 60px">
              <div class="col-12">
                <form class="form-horizontal m-t-20 d-flex">
                  <div class="form-group col-4">
                    <label id="email" class="control-label col-form-label">EMAIL</label>
                    <input type="text" class="form-control" placeholder="arnon@music.com" aria-label="email"
                      aria-describedby="basic-addon1" name="email" [(ngModel)]="email" />
                  </div>
                  <div class="form-group col-3 mt-auto">
                    <div class="col-xs-12">
                      <button class="btn yellowBlack-btn padding-20 w-100" (click)="updateEmail()">
                        <img src="../../assets/images/flowerblack.png" style="width: 30px; margin-right: 10px" />
                        save changes
                      </button>
                    </div>
                  </div>
                </form>
                <!-- <div class="form-group col-4">
                  <label id="Connections" class="control-label col-form-label">Connections</label>
                  <button class="btn twitterButton padding-20 w-100 mt-20" >
                    <img src="assets/images/twitter-settings.svg" style="width: 30px; margin-right: 10px" />
                    connect with twitter
                  </button>
                  <button class="btn facebookButton padding-20 w-100 mt-20" >
                    <img src="assets/images/facebook-settings.svg" style="width: 30px; margin-right: 10px" />
                    disconnect from facebook
                  </button>
                  <button class="btn googleButton padding-20 w-100 mt-20" >
                    <img src="assets/images/google.svg" style="width: 30px; margin-right: 10px" />
                    connect with google
                  </button>
                </div> -->

                <div class="form-horizontal m-t-20 d-flex">
                  <div class="form-group col-4">
                    <label id="email" class="control-label col-form-label text-uppercase">Delete Account</label>
                    <p class="control-label col-form-label">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Password</a>
          <ng-template ngbNavContent>
            <div class="row" style="padding: 0 80px">
              <div class="col-4">
                <form class="form-horizontal m-t-20" [formGroup]="changePasswordForm" (ngSubmit)="onSubmitPass()">
                  <div class="form-group">
                    <label id="inputpassword" class="control-label col-form-label">PASSWORD</label>
                    <input type="password" required class="form-control" placeholder="*********" aria-label="password"
                      aria-describedby="basic-addon1" formControlName="password"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label id="inputpassword" class="control-label col-form-label">NEW PASSWORD</label>
                    <input type="password" required class="form-control" placeholder="*********" aria-label="password"
                      aria-describedby="basic-addon1" formControlName="newPassword"
                      [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label id="inputpassword" class="control-label col-form-label">CONFIRM PASSWORD</label>
                    <input type="password" class="form-control" placeholder="*********" aria-label="password"
                      aria-describedby="basic-addon1" formControlName="confirmPassword"
                      [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                  </div>
                  <div *ngIf="apiError" class="invalid-feedback m-b-20" [ngClass]="{ 'd-block': apiError }">
                    <div>{{apiError}}</div>
                  </div>
                  <div *ngIf="changedPass" class="valid-feedback m-b-20" [ngClass]="{ 'd-block': changedPass }">
                    <div>Password changed successfully</div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <button class="btn yellowBlack-btn padding-20 w-100" type="submit">
                        <img src="../../assets/images/flowerblack.png" style="width: 30px; margin-right: 10px" />
                        save changes
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Notifications</a>
          <ng-template ngbNavContent>
            <div class="row" style="padding: 0 80px">
              <div class="col-4">
                <div class="form-horizontal m-t-20">
                  <div class="form-group">
                    <label id="inputpassword" class="control-label col-form-label font-weight-bold">Updates from courses
                      you’re teaching</label>
                    <div>
                      <input type="checkbox" />
                      Email
                    </div>
                  </div>
                  <div class="form-group">
                    <label id="inputpassword" class="control-label col-form-label font-weight-bold">Updates from courses
                      you’re taking</label>
                    <div>
                      <input type="checkbox" />
                      Email
                    </div>
                  </div>
                  <div class="form-group">
                    <label id="inputpassword" class="control-label col-form-label font-weight-bold">
                      Updates from events you’re hosting
                    </label>
                    <div>
                      <input type="checkbox" />
                      Email
                    </div>
                  </div>
                  <div class="form-group">
                    <label id="inputpassword" class="control-label col-form-label font-weight-bold">
                      Updates from events you’re participating</label>
                    <div>
                      <input type="checkbox" />
                      Email
                    </div>
                  </div>
                  <div class="form-group">
                    <label id="inputpassword" class="control-label col-form-label font-weight-bold">
                      Updates from forum discussions</label>
                    <div>
                      <input type="checkbox" />
                      Email
                    </div>
                  </div>
                  <div class="form-group">
                    <label id="inputpassword" class="control-label col-form-label font-weight-bold">Replies to comments
                    </label>
                    <div>
                      <input type="checkbox" />
                      Email
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <button class="btn yellowBlack-btn padding-20 w-100">
                        <img src="../../assets/images/flowerblack.png" style="width: 30px; margin-right: 10px" />
                        save changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink>Subscription</a>
          <ng-template ngbNavContent>
            <div class="row" style="padding: 0 60px">
              <div class="col-12">
                <div class="form-horizontal m-t-20">
                  <div class="form-group col-4">
                    <label id="email" class="control-label col-form-label text-uppercase">Subscription</label>
                  </div>
                  <div class="form-horizontal m-t-20 d-flex">
                    <div class="form-group col-4">
                      <div class="btn btn-success purple-btn-tags">
                        Expert Rootless Membership
                      </div>
                      <div class="btn btn-success gray-btn-tags">
                        $180 due next year on 20.03.2022
                      </div>
                    </div>
                    <div class="form-group col-3 mt-auto">
                      <div class="col-xs-12">
                        <button class="btn yellowBlack-btn w-100 font-14" style="background: #ff652d"
                          (click)="cancelSubscription()">
                          cancel subscription
                          <p class="font-10">
                            *subscription remains active until 20.04.2021
                          </p>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-horizontal m-t-20 d-flex">
                  <div class="form-group col-4">
                    <label id="email" class="control-label col-form-label">
                      Payment methods
                    </label>
                    <p class="control-label col-form-label">VISA ****2024</p>
                  </div>
                  <div class="form-group col-2 mt-auto">
                    <div class="col-xs-12">
                      <button class="btn yellowBlack-btn padding-20 w-100 font-14" (click)="changeCard()">
                        change
                      </button>
                    </div>
                  </div>
                </div>

                <div *ngIf="cardChanged">
                  <p style="color: green;">Card updated successfully</p>
                </div>

                <div class="form-horizontal m-t-20 d-flex " *ngIf="changingCard">
                  <form class="form-horizontal m-t-2 col-md-4" id="stripeForm" (ngSubmit)="onSubmitCard($event)"
                    #stripeContainer>
                    <div style="background: #f0f0f0; padding: 20px">
                      <div class="cardContainer" id="example-3">
                        <div class="fieldset">
                          <label for="card-number">Credit Card</label>
                          <div id="card-number" class="field empty"></div>
                          <label for="card-expiry">Expiration</label>
                          <div id="card-expiry" class="field empty"></div>
                          <label for="card-cvc">Security Code</label>
                          <div id="card-cvc" class="field empty"></div>
                        </div>
                      </div>
                    </div>
                    <div style="padding: 20px">
                      <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                          <button type="submit" class="btn yellowBlack-btn padding-20 ">
                            <img src="../../assets/images/flowerblack.png" style="width: 30px; margin-right: 10px" />
                            Change
                          </button>
                          <button type="text" class="btn yellowBlack-btn padding-20" (click)="cancel()">
                            <img src="../../assets/images/flowerblack.png" style="width: 30px; margin-right: 10px" />
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="form-horizontal m-t-20 d-flex">
                  <div class="form-group col-8">
                    <label id="email" class="control-label col-form-label text-uppercase">
                      Payment history
                    </label>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Description</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let invoice of invoices">
                          <td>{{getDate(invoice.created)}}</td>
                          <td>
                            Expert Rootless Membership Monthly Billed Annually
                          </td>
                          <td>${{invoice.amountPaid.slice(0, -2)}}</td>
                          <td><a href="{{invoice.hostedInvoiceUrl}}" target="_blank" class="btn yellowBlack-btn">View
                              invoice</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="5">
          <a ngbNavLink>Recommendations</a>
          <ng-template ngbNavContent>
            <div class="row" style="padding: 0 80px">
              <div class="col-8">
                <form class="form-horizontal m-t-20">
                  <div class="form-group">
                    <label id="inputpassword" class="control-label col-form-label font-weight-bold">
                      Industries you are interested in
                    </label>
                  </div>
                  <div class="d-flex">
                    <div class="addedInteres d-flex">
                      Music&nbsp;<img src="../../assets/images/check-icon.svg" />
                    </div>
                    <div class="addedInteres d-flex">
                      Finance &nbsp;
                      <img src="../../assets/images/check-icon.svg" />
                    </div>
                    <div class="addedInteres d-flex">
                      Magazine &nbsp;
                      <img src="../../assets/images/check-icon.svg" />
                    </div>
                    <div class="notInteres d-flex">Construction +</div>
                    <div class="notInteres d-flex">Food +</div>
                  </div>
                  <div class="mt-3 mb-3">
                    <input class="input col-lg-12" placeholder="Type more" />
                  </div>

                  <p class="font-16">
                    The customized industries will be verified by rootless team
                    before they appear in your profile
                  </p>
                  <div class="form-group">
                    <div class="col-lg-4">
                      <button class="btn yellowBlack-btn padding-20 w-100">
                        <img src="../../assets/images/flowerblack.png" style="width: 30px; margin-right: 10px" />
                        save changes
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>
